body {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

/*
HEADER                   HEADER               HEADER 
*/
.contenedorHeader {
  align-items: center;
  justify-content: center; }

.logo {
  height: 5rem; }

.cajaLogoNav {
  width: 6rem;
  align-self: center; }

.cajaValkiriaNav {
  width: 13rem;
  font-family: 'Archivo Black', sans-serif; }

.h1ValkiriaNav {
  font-size: 3rem;
  color: #052551; }

.h3Nav {
  font-size: 1.3rem;
  color: #052551;
  margin-top: 1.2rem; }

.logoRedes {
  height: 5rem; }

.navbar-nav {
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif; }

.nav-link {
  margin: 1rem; }

.h1Nav {
  width: 2rem; }

.contenedorNav {
  width: auto;
  text-align: center; }

.nav-link {
  transition: background-color .4s;
  color: #052551; }

.nav-link:hover {
  background-color: #00d9ff; }

/*
HEADER                     HEADER             HEADER 
*/
/*
SECTION INICIO         SECTION INICIO           SECTION INICIO 
*/
#sectionIndex {
  background-image: url(../img/logo\ inicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 88rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center; }

.contenedorDescuento {
  text-align: end; }

.logoImgDescuento {
  height: 60rem; }

.h2Descuento {
  text-align: center;
  font-size: 14rem;
  color: #052551;
  font-family: 'Mr Dafoe', cursive; }

.h3Descuento {
  font-size: 4rem;
  text-align: center;
  color: #052551;
  font-family: 'Montserrat', sans-serif; }

/*
SECTION INICIO         SECTION INICIO           SECTION INICIO 
*/
/*
SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 
*/
.contenedorDepilacion {
  align-items: center;
  justify-content: center;
  height: 15rem; }

.cajaDepilacion {
  text-align: center; }

.h2Depilacion {
  font-size: 3rem;
  color: #052551; }

.navbarBuscar {
  width: 50rem;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center; }

.cajaBuscar {
  width: 34rem;
  height: 3rem; }

.buscarTienda {
  font-size: 1.5rem; }

.imgProductos {
  height: 22rem;
  margin: 1rem; }

.contenedorTienda {
  justify-content: center; }

.cajaProductos {
  text-align: center;
  margin: 2rem;
  width: 36rem;
  height: 35rem; }

.precioProductos {
  font-size: 1.3rem; }

.agergarProductos {
  width: 7rem;
  height: 3rem;
  font-size: 1.1rem; }

/*
SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 
*/
/*
SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES
*/
.contenedorSucursales {
  justify-content: center;
  align-items: center; }

.cajaSucursales {
  width: 46rem;
  margin: 2rem;
  text-align: center; }

.nombreSucursales {
  margin-top: 0.6rem;
  font-size: 1.7rem; }

/*
SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES
*/
/*
SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS
*/
#imagenFondo {
  background-image: url(../img/logo\ nosotros.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 97rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center; }

.nosotros {
  width: 50%;
  text-align: center;
  margin-left: 10rem;
  margin-bottom: 3rem; }

.h2Nosotros {
  font-family: 'Archivo Black', sans-serif;
  font-size: 3.5rem;
  color: #052551; }

.nosotrosTexto {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  background-size: 50%;
  width: 50%;
  text-align: center;
  margin-left: 10rem; }

/*
SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS
*/
/*
SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO
*/
.contenedorSection {
  height: 88rem;
  background: #00dae4;
  background: linear-gradient(191deg, #00dae4 0%, #052551 100%); }

.logoContacto {
  height: auto;
  width: 100%; }

.contenedorContacto {
  justify-content: center;
  align-items: center;
  height: 68rem; }

.cajaLogoContacto {
  width: 36rem;
  text-align: center;
  align-self: center; }

.cajaContacto {
  width: 50rem;
  height: 30rem; }

.cajaH2Contacto {
  text-align: center;
  color: #052551; }

.h2Contatco {
  font-size: 4rem;
  margin: 2rem; }

/*
SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO
*/
/*
FOOTER                     FOOTER                 FOOTER 
*/
.contenedorFooter {
  align-items: center;
  justify-content: center;
  background: #00c2cb;
  background: linear-gradient(90deg, #00c2cb 0%, #0092ff 100%);
  padding: 1rem; }

.cajaLogoFooter {
  text-align: end;
  width: 8rem; }

.logoFooter {
  height: 5rem; }

.h3Footer {
  font-size: 1.3rem;
  color: #052551;
  margin-left: 0.7rem; }

.contenedorTerminos {
  text-align: center;
  margin-top: 1rem; }

.cajaContactoFooter {
  text-align: center;
  width: 21rem; }

.cajaLogoRedesFooter {
  text-align: center;
  width: 22rem; }

.h2Contactanos {
  font-size: 2rem;
  font-family: 'Archivo Black', sans-serif;
  color: #052551; }

.pContacto {
  font-size: 1.2rem;
  background-color: white;
  width: 18rem;
  margin: 0% auto;
  margin-bottom: 1rem; }

.contenedorValkiriaFooter {
  width: 14rem; }

/*
FOOTER                     FOOTER                 FOOTER 
*/
