body{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*

HEADER                   HEADER               HEADER 

*/

.contenedorHeader{
    align-items: center;
    justify-content: center;
}

.logo{
    height: 5rem;
}

.cajaLogoNav{
    width: 6rem;
    align-self: center;
}

.cajaValkiriaNav{
    width: 13rem;
    font-family: 'Archivo Black', sans-serif;
}

.h1ValkiriaNav{
    font-size: 3rem;
    color: #052551;
}

.h3Nav{
    font-size: 1.3rem;
    color: #052551;
    margin-top: 1.2rem;
}

.logoRedes{
    height: 5rem;
}

.navbar-nav{
    height: 6rem;
    align-items: center;
    font-size: 1.5rem;
    color: #052551;
    font-family: 'Montserrat', sans-serif;
}

.navbarHeader{
    width: 52rem;
}

.nav-link{
    margin: 1rem;
}


.h1Nav{
    width: 2rem;
}



/*

HEADER                     HEADER             HEADER 

*/

/*

SECTION INICIO         SECTION INICIO           SECTION INICIO 

*/



#sectionIndex{
    background-image: url(../img/logo\ inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 87rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.contenedorDescuento{
    width: 50%;
}

.h2Descuento{
    text-align: center;
    font-size: 14rem;
    color: #052551;
    font-family: 'Mr Dafoe', cursive;
}

.h3Descuento{
    font-size: 4rem;
    text-align: center;
    color: #052551;
    font-family: 'Montserrat', sans-serif;
}



/*

SECTION INICIO         SECTION INICIO           SECTION INICIO 

*/

/*

SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 

*/



.contenedorDepilacion{
    align-items: center;
    justify-content: center;
    height: 15rem;
}

.cajaDepilacion{
    text-align: center;
}

.h2Depilacion{
    font-size: 3rem;
    color: #052551;
}

.navbarBuscar{
    width: 50rem;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}

.cajaBuscar{
    width: 34rem;
    height: 3rem;
}

.buscarTienda{
    font-size: 1.5rem;
}

.imgProductos{
    height: 22rem;
    margin: 1rem;
}

.contenedorTienda{
    justify-content: center;
}

.cajaProductos{
    text-align: center;
    margin: 1.5rem;
    width: 35rem;
    height: 35rem;
}



/*

SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 

*/

/*

SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES

*/







/*

SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES

*/

/*

SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS

*/



#imagenFondo{
    background-image: url(../img/logo\ nosotros.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 97rem;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}

.nosotros{
    width: 50%;
    text-align: center;
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.h2Nosotros{
    font-family: 'Archivo Black', sans-serif;
    font-size: 3.5rem;
    color: #052551;
}

.nosotrosTexto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    background-size: 50%;
    width: 50%;
    text-align: center;
    margin-left: 10rem;
}



/*

SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS

*/

/*

SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO

*/



.contenedorSection{
    height: 87rem;
    background: rgb(0,218,228);
    background: linear-gradient(191deg, rgba(0,218,228,1) 0%, rgba(5,37,81,1) 100%);
}

.logoContacto{
    height: 40rem;
}

.contenedorContacto{
    justify-content: center;
    align-items: center;
    height: 87rem;
}

.cajaLogoContacto{
    width: 40rem;
    height: 40rem;
    text-align: center;
    align-self: center;
}

.cajaContacto{
    width: 50rem;
    height: 30rem;
}



/*

SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO

*/

/*

FOOTER                     FOOTER                 FOOTER 

*/


.contenedorFooter{
    align-items: center;
    justify-content: center;
    background: rgb(0,194,203);
    background: linear-gradient(90deg, rgba(0,194,203,1) 0%, rgba(0,146,255,1) 100%);
}

.cajaLogoFooter{
    text-align: end;
}

.logoFooter{
    height: 5rem;
}


.contenedorTerminos{
    margin: 4rem;
}

.h3Footer{
    font-size: 1.3rem;
    color: #052551;
    margin-top: 1.2rem;
}

/*

FOOTER                     FOOTER                 FOOTER 

*/