$color-principal: #052551;
$color-footer: linear-gradient(90deg, rgba(0,194,203,1) 0%, rgba(0,146,255,1) 100%);
$color-fondo-contacto: linear-gradient(191deg, rgba(0,218,228,1) 0%, rgba(5,37,81,1) 100%);


