@import "tipografia","colores","variables";

body{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*
HEADER                   HEADER               HEADER 
*/

.contenedorHeader{
    align-items: center;
    justify-content: center;
    background-color: turquoise;
    padding: 0.5rem;
}

.cajaLogoNav{
    width: 6rem;
    align-self: center;
}

.logo{
    height: 5rem;
}

.cajaValkiriaNav{
    width: 14rem;
    font-family: $fuente-principal;
}

.h1ValkiriaNav{
    font-size: 3rem;
    color: $color-principal;
}

@media screen and (max-width: 809px){  
    .cajaH3Nav{
        display: none;
    }
}

.h3Nav{
    font-size: 1.3rem;
    color: $color-principal;
    margin-top: 1.2rem;
}

.navbar{
    justify-content: end;
}

@media screen and (max-width: 409px){
    .navbar{
        justify-content: center;
    }
}

@media screen and (min-width: 992px){
    .navbar{
        justify-content: center;
    }
}

.contenedorNav{
    text-align: center;
}

.navbar-nav{
    align-items: center;
    font-size: 1.5rem;
    font-family: $fuente-nav;
    color: black;
}   

.navbar-collapse{
    justify-content: end;
}

.nav-link{
    transition: background-color .1s;
    color: $color-principal;
    margin: 1rem;
}

.nav-link:hover{
    background-color: #35FAD4;
}

.botonNav{
    background-color: snow;
}

/*
HEADER                     HEADER             HEADER 
*/

/*
SECTION INICIO         SECTION INICIO           SECTION INICIO 
*/

#sectionIndex{
    background-image: url(../img/logoinicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 88rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.cajaDescuento{
    max-width: 60rem;
    margin-top: 10rem;
}

.logoImgDescuento{
    max-width: 100%;
}

/*
SECTION INICIO         SECTION INICIO           SECTION INICIO 
*/

/*
SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 
*/

.contenedorDepilacion{
    align-items: center;
    justify-content: center;
    height: 15rem;
}

.cajaDepilacion{
    text-align: center;
}

.h2Depilacion{
    font-size: 3rem;
    color: $color-principal;
    font-weight: 700;
}

.navbarBuscar{
    width: 38rem;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}

.cajaBuscar{
    width: 31rem;
    height: 3rem;
}

.contenedorTienda{
    justify-content: center;
}

.imgProductos{
    height: 22rem;
    margin: 1rem;
}

.cajaProductos:hover{
    transform: scale(1.05)
}

.nombreProductos{
    font-family: $fuente-nombre-producto
}

.precioProductos{
    font-size: 1.3rem;
    font-family: $fuente-precio-producto;
    text-shadow: 0 0 black;
}

.descuento{
    text-decoration: line-through;
    text-shadow: none;
    color: rgb(112, 112, 112);
}

.agergarProductos{
    width: 7rem;
    height: 3rem;
    font-size: 1.1rem;
}

/*
SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 
*/

/*
SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES
*/

.contenedorSucursales{
    justify-content: center;
    align-items: center;
}

.nombreSucursales{
    margin-top: 0.6rem;
    font-size: 1.7rem;
}

.mapaSucursales{
    max-width: 100%;
}

/*
SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES
*/

/*
SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS
*/

#imagenFondo{
    background-image: url(../img/logonosotros.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 97rem;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}

.cajaNosotros{
    width: 74%;
    text-align: center;
    margin-left: 5rem;
    margin-bottom: 4rem;
}

.h2Nosotros{
    font-family: $fuente-principal;
    font-size: 3.5rem;
    color: $color-principal;
}

.h3Nosotros {
    font-family: $fuente-principal;
    font-size: 2.5rem;
    color: $color-principal; 
    margin-top: 2rem;
}

.nosotrosTexto{
    width: 74%;
    text-align: center;
    margin-left: 5rem;
}

.cajaNosotrosTexto{
    background-color: $color-caja-nosotros-texto;
    font-family: $fuente-precio-producto;
    font-size: 2.2rem;
    padding: 1.5rem;
}

/*
SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS
*/

/*
SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO
*/

.contenedorSectionContacto{
    height: 88rem;
    background: $color-fondo-contacto;
}

.contenedorContacto{
    justify-content: center;
    align-items: center;
    height: 68rem;
} 

.cajaH2Contacto{
    text-align: center;
    color: $color-principal;
}

.h2Contatco{
    font-size: 4rem;
    margin: 2rem;
}

.cajaLogoContacto{
    width: 40rem;
    text-align: center;
    align-self: center;
}

.logoContacto{
    width: 100%;
}

.cajaContacto{
    width: 50rem;
    height: 30rem;
}

.form-label{
    font-size: 1.5rem;
}

.form-control{
    font-size: 1.2rem;
}

.btn-primary{
    font-size: 1.3rem;
}

/*
SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO
*/

/*
FOOTER                     FOOTER                 FOOTER 
*/

.contenedorFooter{
    align-items: center;
    justify-content: center;
    background: $color-footer;
    padding: 1rem;
}

.cajaLogoFooter{
    text-align: end;
    width: 6rem;
}

.logoFooter{
    height: 5rem;
    margin-bottom: 2rem;
}

.contenedorValkiriaFooter{
    width: 16rem;
    margin-bottom: 2rem;
}

.h3Footer{
    font-size: 1.3rem;
    color: $color-principal;
    margin-left: 0.7rem;
}

.cajaContactoFooter{
    text-align: center;
    width: 21rem;
}

.contenedorTerminos{
    text-align: center;
    margin-top: 1rem;
}

.h2Contactanos{
    font-size: 2rem;
    font-family: $fuente-principal;
    color: $color-principal;
    margin-bottom: 2rem;
    margin-top: 3rem;
    letter-spacing: 3px;
}

.pContacto{
    font-size: 1.3rem;
    width: 18rem;
    margin: 0% auto;
    margin-bottom: 2rem;
    color: white;
}

.cajaLogoRedesFooter{
    text-align: center;
    width: 22rem;
    margin-bottom: 2rem;
}

.logoRedes{
    height: 5rem;
}

.logoRedes:hover{
    filter: drop-shadow(0px 0px 10px #35FAD4);
}
/*
FOOTER                     FOOTER                 FOOTER 
*/

