@import "tipografia","colores","variables";

body{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*
HEADER                   HEADER               HEADER 
*/

.contenedorHeader{
    align-items: center;
    justify-content: center;
    background-color: turquoise;
}

.logo{
    height: 5rem;
}

.cajaLogoNav{
    width: 6rem;
    align-self: center;
}

.cajaValkiriaNav{
    width: 13rem;
    font-family: $fuente-principal;
}

.h1ValkiriaNav{
    font-size: 3rem;
    color: $color-principal;
}

.h3Nav{
    font-size: 1.3rem;
    color: $color-principal;
    margin-top: 1.2rem;
}

.navbar-nav{
    align-items: center;
    font-size: 1.5rem;
    font-family: $fuente-nav;
    color: black;
}   

.nav-link{
    margin: 1rem;
}


.h1Nav{
    width: 2rem;
}

.contenedorNav{
    width: auto;
    text-align: center;
    justify-content: center;
}

.nav-link{
    transition: background-color .2s;
    color: $color-principal;
}

.nav-link:hover{
    background-color: #35FAD4;
}

/*
HEADER                     HEADER             HEADER 
*/

/*
SECTION INICIO         SECTION INICIO           SECTION INICIO 
*/

#sectionIndex{
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 88rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.cajaDescuento{
    max-width: 60rem;
    margin-top: 10rem;
}

.logoImgDescuento{
    max-width: 100%;
}

/*
SECTION INICIO         SECTION INICIO           SECTION INICIO 
*/

/*
SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 
*/

.contenedorDepilacion{
    align-items: center;
    justify-content: center;
    height: 15rem;
}

.cajaDepilacion{
    text-align: center;
}

.h2Depilacion{
    font-size: 3rem;
    color: $color-principal;
}

.navbarBuscar{
    width: 38rem;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}

.cajaBuscar{
    width: 31rem;
    height: 3rem;
}

.imgProductos{
    height: 22rem;
    margin: 1rem;
}

.contenedorTienda{
    justify-content: center;
}

.precioProductos{
    font-size: 1.3rem;
}

.agergarProductos{
    width: 7rem;
    height: 3rem;
    font-size: 1.1rem;
}

/*
SECTION TIENDA        SECTION TIENDA           SECTION TIENDA 
*/

/*
SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES
*/

.contenedorSucursales{
    justify-content: center;
    align-items: center;
}

.cajaSucursales{
    width: 45rem;
    margin: 2rem;
    text-align: center;
}

.nombreSucursales{
    margin-top: 0.6rem;
    font-size: 1.7rem;
}

.mapaSucursales{
    max-width: 100%;
}

/*
SECTION SUCURSALES       SECTION SUCURSALES           SECTION SUCURSALES
*/

/*
SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS
*/

#imagenFondo{
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 97rem;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}

.cajaNosotros{
    width: 74%;
    text-align: center;
    margin-left: 5rem;
    margin-bottom: 4rem;
}

.h2Nosotros{
    font-family: $fuente-principal;
    font-size: 3.5rem;
    color: $color-principal;
}

.h3Nosotros {
    font-family: $fuente-principal;
    font-size: 2.5rem;
    color: $color-principal; 
    margin-top: 2rem;
}

.nosotrosTexto{
    font-size: 2rem;
    width: 74%;
    text-align: center;
    margin-left: 5rem;
}

/*
SECTION NOSOTROS        SECTION NOSOTROS           SECTION NOSOTROS
*/

/*
SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO
*/

.contenedorSection{
    height: 88rem;
    background: $color-fondo-contacto;
}

.logoContacto{
    width: 100%;
}

.contenedorContacto{
    justify-content: center;
    align-items: center;
    height: 68rem;
}

.cajaLogoContacto{
    width: 40rem;
    text-align: center;
    align-self: center;
}

.cajaContacto{
    width: 50rem;
    height: 30rem;
}

.cajaH2Contacto{
    text-align: center;
    color: $color-principal;
}

.h2Contatco{
    font-size: 4rem;
    margin: 2rem;
}

.form-label{
    font-size: 1.5rem;
}

.form-control{
    font-size: 1.2rem;
}

.btn-primary{
    font-size: 1.3rem;
}

/*
SECTION CONTACTO       SECTION CONTACTO           SECTION CONTACTO
*/

/*
FOOTER                     FOOTER                 FOOTER 
*/

.contenedorFooter{
    align-items: center;
    justify-content: center;
    background: $color-footer;
    padding: 1rem;
}

.cajaLogoFooter{
    text-align: end;
    width: 8rem;
}

.logoFooter{
    height: 5rem;
    margin-bottom: 2rem;
}

.h3Footer{
    font-size: 1.3rem;
    color: $color-principal;
    margin-left: 0.7rem;
}

.contenedorTerminos{
    text-align: center;
    margin-top: 1rem;
}

.cajaContactoFooter{
    text-align: center;
    width: 21rem;
}

.cajaLogoRedesFooter{
    text-align: center;
    width: 22rem;
    margin-bottom: 2rem;
}

.h2Contactanos{
    font-size: 2rem;
    font-family: $fuente-principal;
    color: $color-principal;
    margin-bottom: 2rem;
}

.pContacto{
    font-size: 1.2rem;
    background-color: white;
    width: 18rem;
    margin: 0% auto;
    margin-bottom: 2rem;
}

.contenedorValkiriaFooter{
    width: 14rem;
    margin-bottom: 2rem;
}

.logoRedes{
    height: 5rem;
}

/*
FOOTER                     FOOTER                 FOOTER 
*/

